<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <a href="/">Home</a>
    |
    <a href="/skills">All Skills</a>
    <p>
    <form action="/skills" method="POST">
        <input type="text" name="skill">
        <input type="checkbox" name="status" value="done">
        <label for="status">Done</label><br><br>
        <button type="submit">Save Skill</button>
    </form>
    </p>
</body>

</html>